// ==========================================================================
// ## COMPONENT: FIELD
// ==========================================================================

/// @content Component specific classes for buttons.
/// This file contains suite of classes like.
//
///   .c-field {}   - Base field class.
//

.c-field {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  max-width: 22em;
  margin: 0 auto;

  &_label {
    cursor: pointer;
    color: $color-base-text;
    transition: color 0.3s ease;
    font-weight: 300;
  }

  &_input {
    padding: 0.35rem 0.75rem;
    transition: border-color 0.3s ease;
    font-weight: 300;
    border-radius: .5rem;
    background-color: $color-base-background-secondary;
    border: 1px solid rgba(var(--color-base-text), 0.1);
  }

  &_input:active,
  &_input:focus,
  &_input:focus-visible,
  &_input:not(:placeholder-shown),
  &_input:-webkit-autofill {
    border-color: rgba(var(--color-base-secondary), 0.1);
    +.c-field_label{color: $color-base-secondary}
  }

  // State variations
  &.-error {
    border-color: rgba(240, 0, 0, 0.9);
  }
}
