@import './../settings/breakpoints';
@import './../settings/fonts';
@import './../settings/colors';
@import './../tools/mixins';
@import './../tools/functions';

.section--link .o-container.-narrow {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  h4 {
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 3.5rem;
    .c-button {
      display: inline-flex;
      gap: 1rem;
      transform: translateY(-15%);
    }
    @include mq-down(xs) {
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }
}
