// ==========================================================================
// ## SHOPIFY STATIC SECTION: MAIN PRODUCT
// ==========================================================================
@import './../settings/colors';
@import './../settings/fonts';
@import './../settings/breakpoints';
@import './../tools/functions';
@import './../tools/mixins';

.page-product {
  border-bottom: 2px solid rgba(var(--color-base-text), 0.25);
  > div {
    display: grid;
    grid-template-columns: 1.35fr 1fr;
    gap: 1.5rem 7%;
    align-items: start;
    @include mq-down('xs') {
      grid-template-columns: 1fr;
    }
  }
  &_media {
    position: sticky;
    top: 2rem;
    width: 100%;
    overflow: hidden;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 3fr;
    align-items: start;
    .thumbs, .previews{
      width: 100%;
      overflow: hidden;
      max-height: 370px;
    }
    @include mq-down('xs') {
      grid-template-columns: 1fr 4fr;
      .thumbs, .previews{
        max-height: 170px;
      }
    }
    .previews{
      aspect-ratio: 4 / 3;
      img{
        cursor: zoom-in;
      }
    }
    &.-placeholder{
      grid-template-columns: 1fr;
    }
    .thumbs {
      overflow: hidden;
      height: 100%;
      .swiper-slide{
        width: 100%;
        box-sizing: border-box;
        img{aspect-ratio: 1 / 1}
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
      vertical-align: top;
      user-select: none;
    }
  }
  &_content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .75rem;
    font-size: 1rem;
  }
  &_title {
    font-weight: 900;
    color: $color-base-primary;
    font-size: rem(32px);
    text-transform: capitalize;
    @include mq-down('xs') {
      font-size: rem(24px);
    }
  }
  &_extra{
    color: $color-base-primary;
    font-size: 1.2rem;
  }
  &_price {
    display: flex;
    flex-direction: column;
    span {
      font-size: 1.5rem;
      font-weight: 700;
      @include mq-down('xs') {
        font-size: 1.25rem;
      }
    }
    .compare {
      font-size: 1.3rem;
      font-weight: 500;
      color: rgba(var(--color-base-text), 0.6);
      text-decoration: line-through;
    }
  }
  &_rating {
    align-self: start;
    font-size: rem(24px);
    color: #f2a842;
    letter-spacing: 0.5rem;
  }
  &_vendor {
    font-weight: 500;
    a {
      text-decoration: underline;
      text-transform: capitalize;
    }
  }
  &_description {
    font-size: 1.4rem;
    line-height: 1.65rem;
    letter-spacing: 0px;
    font-weight: 600;
    color: rgba(var(--color-base-text), 0.8);
  }
  &_variants {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0.75rem 0;
  }
  &_input {
    display: grid;
    align-items: center;
    grid-template-columns: 100px 1fr;
  }
  &_label {
    font-size: 1.1rem;
    font-weight: 700;
    color: $color-base-text;
    @include truncate;
  }
  .select {
    width: max-content;
    cursor: pointer;
    position: relative;
    &_select {
      cursor: pointer;
      position: relative;
      z-index: 2;
      padding: 0.5rem 2rem;
      border-radius: 21px;
      min-width: 150px;
      text-align: center;
      color: $color-base-secondary;
      font-weight: 700;
      box-shadow: 1px 3px 7px 0px rgba(black, 0.2);
    }
    .c-icon {
      position: absolute;
      z-index: 1;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);
      color: $color-base-secondary;
      font-size: 1.5rem;
      transition: all 0.2s ease-in-out;
      @include mq-down('xs') {
        font-size: 1.2rem;
      }
    }
  }
  &_form,
  .product-form {
    &__error-message-wrapper {
      display: grid;
      grid-template-columns: 20px 1fr;
      margin-bottom: 1.5rem;
      gap: 1rem;
    }
    &__buttons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      @include mq-down('xxs') {
        grid-template-columns: 1fr;
      }
    }
  }
}
