// ==========================================================================
// ## SHOPIFY STATIC SECTION: MAIN LOGIN
// ==========================================================================
@import './../settings/breakpoints';
@import './../settings/fonts';
@import './../settings/colors';
@import './../tools/mixins';
@import './../tools/functions';

.c-field {
  margin: 0;
  max-width: 100%;
  width: fit-content;
  min-width: 20rem;
  @include mq-down('xs') {
    min-width: 100%;
  }
}

button.c-button {
  width: fit-content;
  min-width: 20rem;
  @include mq-down('xs') {
    min-width: 100%;
  }
}

.section-login {
  padding-bottom: 0px;
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  gap: 0px rem(0px);
  border-bottom: 10px solid $color-base-secondary;
  @include mq-only('md') {
    grid-template-columns: 1fr 1fr;
  }
  @include mq-down('sm') {
    grid-template-columns: 1fr;
  }

  .title {
    grid-column: 1 / -1;
    border-top: 10px solid $color-base-secondary;
    border-bottom: 10px solid $color-base-secondary;
    color: $color-base-primary;
  }

  .instruction {
    font-size: rem(14px);
    &.-light {
      color: $color-base-text;
    }
  }

  .login {
    background-color: $color-base-background-secondary;
    padding: rem(50px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    h2,
    h3,
    p,
    li {
      color: $color-base-text;
    }
    @include mq-down('sm') {
      padding: rem(15px);
    }
    .recover {
      text-decoration: underline;
      color: $color-base-text;
    }
  }

  .register {
    padding: rem(25px) rem(50px);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @include mq-down('sm') {
      padding: rem(50px) rem(15px);
    }

    .message {
      color: $color-base-text;
      font-size: 24px;
      line-height: 28px;
    }
    .instruction {
      margin-bottom: 16px;
    }
    input {
      width: 350px;
      @include mq-only('md') {
        width: 95%;
      }
      @include mq-down('xs') {
        width: 100%;
      }
    }

    .labelRadio {
      cursor: pointer;
    }
    .icon {
      position: relative;
      display: inline-block;
      width: 18px;
      height: 18px;
      border: 1px solid $color-base-text;
      border-radius: 50%;
      cursor: pointer;
      margin-left: 3px;
    }
    .radio:checked + .icon::after {
      content: '';
      background-color: $color-base-text;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 14px;
      height: 14px;
      border-radius: 50%;
    }
  }

  .recover-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
}
