// ==========================================================================
// ## SHOPIFY STATIC SECTION: MAIN BLOG
// ==========================================================================
@import './../settings/colors';
@import './../settings/fonts';
@import './../settings/breakpoints';
@import './../tools/functions';
@import './../tools/mixins';

main {
  gap: 0 !important;
}

.blog {
  margin-bottom: 2rem;
  .blog-articles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 2rem;
    @include mq-down(xs) {
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }
    .no {
      grid-column: 1 / -1;
    }
  }
  .pagination {
    margin-top: 2rem;
  }
}
