{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-product-item.css' | asset_url | stylesheet_tag }}

<script src="{{- 'component-cart.js' | asset_url -}}" defer></script>

<cart-component>
  <div class="cart">
    <button class="c-button -navigator" close>&times;</button>
    <h2 class="c-heading -h2">Carrito de compra</h2>
    <nav id="items"></nav>
    <div class="subtotal">
      <p class="about">
        Gasto de envío e ingreso de
        cupones en la página de pago
      </p>
      <p class="final-price">
        <span>Total:</span>
        <span id="total"></span>
      </p>
      <a id="buynow" class="c-button -secondary {% if cart.item_count == 0 %}-disabled{% endif %}" href="{% if cart.item_count == 0 %}#{% else %}/checkout{% endif %}">Comprar</a>
    </div>
  </div>
</cart-component>

{% schema %}
{
  "name": "Carrito de compras",
  "class": "cart"
}
{% endschema %}
