{{ 'component-modal-style.css' | asset_url | stylesheet_tag }}

{{ 'section-main-login.css' | asset_url | stylesheet_tag }}

<script src="{{ 'component-modal-script.js' | asset_url }}" defer=defer></script>


<div class="o-container -medium u-pv-medium title">
  <h1 class="c-heading -h1 upper">bienvenido a {{ shop.name }}</h1>
</div>

{%- comment -%}Login{%- endcomment -%}
{% form 'customer_login', class: 'login' %}
  <h2 class="c-heading -h2">Inicia sesión</h2>

  <p class="instruction -light">
    Ingresa los datos que te pedimos a continuación.
  </p>

  {%- if form.posted_successfully? -%}
    <h3 class="form_status c-body -bold -h3 -success u-mb-small" tabindex="-1" autofocus>
      {% render 'component-icon' icon: 'success', icon_size: 15 %}
      Usted a iniciado sesión.
    </h3>
  {%- elsif form.errors -%}
    <div class="errors">
      <h3 class="form_status c-body -bold -h3 -error u-mb-small" role="alert" tabindex="-1" autofocus>
        {% render 'component-icon' icon: 'error', icon_size: 15 %}
        Datos incorrectos, revise bien los datos.
      </h3>
    </div>
  {%- endif -%}

  <div class="c-field -full -white">
    <input class="c-field_input" type="email" name="customer[email]" placeholder="correo@mail.com" required>
    <label class="c-field_label" for="customer_email"><sup>*</sup> CORREO ELECTRÓNICO</label>
  </div>

  <div class="c-field -full -white">
    <input class="c-field_input" type="password" name="customer[password]" placeholder="pass" required>
    <label class="c-field_label" for="customer_password"><sup>*</sup> CONTRASEÑA</label>
  </div>

  <button class="c-button -white" type="submit" value="Sign In">INICIA SESIÓN</button>

  <open-modal data-modal="#recoverPassword" data-section="recover">
    <button type="button" class="c-button -transparent recover" data-product="/account/login">
      ¿Olvidaste tu contraseña?
    </button>
  </open-modal>

  {%- form 'recover_customer_password', class: 'recover-form' -%}
    {%- if form.posted_successfully? -%}
      <h3 id="successRecover" class="form_status c-body -bold -h3 -success u-mb-small" tabindex="-1" autofocus>
        {% render 'component-icon' icon: 'success', icon_size: 15 %}
        Por favor revisa tu correo para restablecer tu contraseña.
      </h3>
    {%- elsif form.errors -%}
      <div class="errors">
        <h3 class="form_status c-body -bold -h3 -error u-mb-small" role="alert" tabindex="-1" autofocus>
          {% render 'component-icon' icon: 'error', icon_size: 15 %}
          Datos incorrectos, revise bien los datos.
        </h3>
      </div>
    {%- endif -%}
  {%- endform -%}

{% endform %}


{%- comment -%}Register{%- endcomment -%}
{% form 'create_customer', class: 'register' %}
    <h3 class="c-heading -h2">
      Registrate, ahora es más facil realizar<br>
      tus compras en línea
    </h3>

    <p class="instruction">
      Ingresa los datos que te pedimos a continuación.
    </p>

    {%- if form.errors -%}
      <div class="errors">
        <h3 class="form_status c-body -bold -h3 -error u-mb-small" role="alert" tabindex="-1" autofocus>
          {% render 'component-icon' icon: 'error', icon_size: 15 %}
          Datos incorrectos, revise bien los datos.
        </h3>
      </div>
    {%- endif -%}

    <div class="c-field -full">
      <input class="c-field_input" type="text" value="" name="customer[first_name]" placeholder="Ingrese su nombre" size="30" />
      <label class="c-field_label" for="first_name"><sup>*</sup> NOMBRE(S)</label>
    </div>

    <div class="c-field -full">
      <input class="c-field_input" type="text" value="" name="customer[last_name]" placeholder="Ingrese su(s) apellido(s)" size="30" />
      <label class="c-field_label" for="last_name"><sup>*</sup> APELLIDO(S)</label>
    </div>

    <div class="c-field -full">
      <input class="c-field_input" type="text" value="" name="customer[phone]" placeholder="Ingrese su teléfono" size="30" />
      <label class="c-field_label" for="last_name"><sup>*</sup> TELÉFONO</label>
    </div>

    <div class="c-field -full">
      <input class="c-field_input" type="email" value="" name="customer[email]" placeholder="Ingrese su correo electrónico" size="30" />
      <label class="c-field_label" for="email"><sup>*</sup> CORREO ELECTRÓNICO</label>
    </div>

    <div class="c-field -full">
      <input class="c-field_input" type="password" value="" name="customer[password]" placeholder="Ingrese su contraseña" size="30" />
      <label class="c-field_label" for="password"><sup>*</sup> CONTRASEÑA</label>
    </div>

    <button type="submit" class="c-button -primary" value="Create">REGÍSTRATE</button>
{% endform %}

{% schema %}
{
  "name": "Inicio de sesión",
  "tag": "section",
  "class": "section-login",
  "settings": []
}
{% endschema %}
