{{ 'component-pagination.css' | asset_url | stylesheet_tag }}

{{ 'section-main-collection.css' | asset_url | stylesheet_tag }}

<script src="{{ 'component-view-as.js' | asset_url }}" defer=defer></script>
<script src="{{ 'component-collection-page.js' | asset_url }}" defer=defer></script>


<div class="o-container -wide-lg">
  <div class="filters">
    <parts-list>
      <h3>Tipo de parte</h3>
      <div class="parts">
        <skeleton-load></skeleton-load>
        <skeleton-load></skeleton-load>
        <skeleton-load></skeleton-load>
        <skeleton-load></skeleton-load>
      </div>
    </parts-list>
  </div>

  <view-as class="view-as">
    <button view="list">
      {% render 'component-icon' icon: 'list', icon_size: 25 %}
    </button>
    <button view="grid">
      {% render 'component-icon' icon: 'grid', icon_size: 25 %}
    </button>
  </view-as>

  <products-grid class="-loading">
    <skeleton-load class="product -skeleton"></skeleton-load>
    <skeleton-load class="product -skeleton"></skeleton-load>
    <skeleton-load class="product -skeleton"></skeleton-load>
    <skeleton-load class="product -skeleton"></skeleton-load>
  </products-grid>
</div>

{% schema %}
{
  "name": "t:sections.collection.name",
  "tag": "section",
  "class": "collection",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 12,
      "max": 32,
      "step": 4,
      "default": 12,
      "label": "Productos mostrados por pagina"
    }
  ]
}
{% endschema %}
