{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

<div class="page page-content o-container -wide -medium u-pv-medium">
  <h1>{{ page.title }}</h1>
  <div class="content">{{ page.content }}</div>
</div>


{% schema %}
{
  "name": "t:sections.page.name",
  "tag": "section",
  "settings": []
}
{% endschema %}
